<html>
    <p>Bearbeitung ToDo</p>
    <form action='/noteadded' method='post'>
        <p>Title</p>
        <input id='noteTitle' name='noteTitle' placeholder='enter title'>
        <p>Beschreibung</p>
        <input id='noteDescription' name='noteDescription' placeholder='enter description'>
        <p>Wichtigkeit</p>
        <input id='notePrio' name='notePrio' placeholder='enter importance'>
        <p>Fertig bis</p>
        <input id='noteFinishDate' name='noteFinishDate'>
        <input type='submit' value='Save Note'>
        <input type='submit' value='Cancel'>
    </form>
</html>